@use 'variables' as v;

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.buttons-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    width: 500px;
    height: 300px;
    margin-top: 80px;
    position: relative;
}

.card-container .card:nth-child(1) {
    position: absolute;
    left: 0;
    z-index: 3;
    transition: 100ms;
    transform: rotate(-5deg) translateY(10px);
    &:hover {
        transform: rotate(-5deg) translateY(0px);
    }
}
.card-container .card:nth-child(2) {
    position: absolute;
    left: 150px;
    z-index: 2;
    transition: 100ms;
    &:hover {
        transform: translateY(-10px);
    }
}
.card-container .card:nth-child(3) {
    position: absolute;
    left: 300px;
    z-index: 1;
    transition: 100ms;
    transform: rotate(5deg) translateY(10px);
    &:hover {
        transform: rotate(5deg) translateY(0);
    }
}

.card1 {
    transform: rotate(5.5deg) translate(140px);
}

.card2 {
    transform: rotate(4deg) translate(70px);
}

.prueba {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 50vh;
    padding: 10px;
    background-color: lightyellow;
    text-align: center;
    color: blue; /* Color inicial del texto y del borde */
    -webkit-text-stroke: 1px blue; /* Borde fino con el mismo color del texto */

    /* Efecto al pasar el ratón */
    transition: color 0.3s ease, -webkit-text-stroke-color 0.3s ease;

    &:hover {
        color: v.$color3; /* Color del texto al pasar el ratón */
        -webkit-text-stroke-color: blue; /* Borde se mantiene azul */
    }
}
